*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vw;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/FondoPresentacion.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}
.nav{
    top: 0px;
    color: black;
    position: fixed;
    width: 1280px;
    height: 180px;
    display: center;
    background-color: white; 
    border: 2px solid white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    z-index: 1;
}

.Inicio{
    position: relative;
    display: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Resume{
    position: relative;
    display: center;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 150px;   
}
.Contacto{
    position: relative;
    display: center;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 250px;
}

.CrearUsuario{
    position: relative;
    display: center;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 350px;
}

.caja_inicio{
    margin: 50px;
    padding-top: 40px;
    color: black;
    top: 180px;
    width: 1280px;
    height: 550px;
    display: center;
    text-align: center;
    background-image: url(../img/Inicio.svg);
}

.caja_resume{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    top: 900px;
    left: 50px;
    width: 1200px;
    height: auto;
    display: center;
    text-align: center;
    align-items: center;
}

.nav__link{
    color: black;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav__link--inside{
    text-align: center;
}

.list__item{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
    
list__item--click{
cursor: pointer;
}

.list__button{
    display: flex;
    align-items: center;
    text-align: center;
    width: 70%;
}
.arrow .list__arrow{
    transform:  rotate(90deg);
}

.list.arrow{
    margin-left: auto;
    transition: transform .3s;
}

.list__show{
    width: 80%;
    margin-left: auto;
    list-style: none;
    transform: height .4s;
    height: 0;
}

.caja_contacto{
    color: black;
    width: 1200px;
    height: 180px;
    display: block;
    text-align: center;
    border-radius: 10px;
}
